.App {
    margin: 20px 40px 20px 40px;
}

.header {
    text-align: center;
}
.header, .main {
    background-color: gray;
    padding: 15px;
}

.address, .section {
    background-color: lightgray;
    padding: 15px;
}